#######################################################################
#                            Rust Snippets                            #
#######################################################################
snippet p "pub"
	pub $0
snippet sf "Struct field definition"
	${1:name}: ${0},

snippet op "Option with stop in a middle"
	Opt<$0>

snippet vec "Vector definition"
	Vec<${1:String}>
# vim:ft=snippets:
